* {
    font-family: 'Press Start 2P', cursive;
}

.grid{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 50% 50%;
}

.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    max-height: 50%;
    padding-left: 1em;
}

.game-board{
    border: solid .2em;
}

.play-button{
    display: flex;
    background-color: #4caf50;
    font-size: .76em;
    padding: 1.5em 4.6em;
    cursor: pointer;
}

.pause{
    padding-left: 25%;
    padding-bottom: 50%;
}

.pause-button{
    display: flex;
    background-color: #fc0101;
    font-size: .76em;
    color: #ffffff;
    padding: 1.5em 1.60em;
    cursor: pointer;
}

.dpad-button{
    background-color: #353434;
    color: #ffffff;
    border-width: .5em;
    border-style: groove;
    padding: 1.4em 1.0em;
    cursor: pointer;
}