* {
    font-family: 'Press Start 2P', cursive;
}

.grid{
    display: flex;
    grid-template-columns: 320px 200px;
}

.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board{
    border: solid .2em;
}

.play-button{
    background-color: #4caf50;
    font-size: .76em;
    padding: 1.5em .60em;
    cursor: pointer;
}

.pause-button{
    background-color: #fc0101;
    font-size: .74em;
    color: #ffffff;
    padding: 1.5em .60em;
    cursor: pointer;
}

.dpad-button{
    background-color: #353434;
    color: #ffffff;
    border-width: .5em;
    border-style: groove;
    padding: 1.4em 1.0em;
    cursor: pointer;
}